<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="thirdparty/require.js"></script>
        <script src="thirdparty/perlin.js"></script>
        <script src="build/Overmind.js"></script>
    </head>
    <body>
        <main id="ui">
            <section id="player-info">
                <div class="player-name">
                    {{humanPlayer.name}}
                </div>
                <div class="player-flag" v-bind:style="{ backgroundColor: humanPlayer.flag }"></div>
            </section>
            <section id="resource-panel">
                <div class="ui-item-info" v-for="resource in resources">
                    <div class="ui-item-icon" v-bind:style="{ backgroundImage: 'url(' + resource.image + ')' }">
                    </div>
                    <div class="ui-item-name">
                        {{resource.name}}
                    </div>
                    <div class="ui-item-quantity">
                        {{treasury[resource.name]}}
                    </div>
                </div>
            </section>
            <section id="unit-panel">
                <div class="ui-item-info" v-for="unit in units">
                    <div class="ui-item-icon" v-bind:style="{ backgroundImage: 'url(' + unit.image + ')' }">
                    </div>
                    <div class="ui-item-name">
                        {{unit.name}}
                    </div>
                    <div class="ui-item-quantity">
                        {{countUnitByName(unit.name)}}
                    </div>
                </div>
            </section>
            <div class="display-options-wrapper">
            <h3>Display Options</h3>
            <label class="container">enable brushes ABBA
                <input type="checkbox" v-model="displayOption.enableBrushesABBA">
                <span class="checkmark"></span>
            </label>
            <label class="container">hide gathering points
                <input type="checkbox" v-model="displayOption.hideGatheringPoints">
                <span class="checkmark"></span>
            </label>
            <label class="container">hide corridors
                <input type="checkbox" v-model="displayOption.hideCorridors">
                <span class="checkmark"></span>
            </label>
            <label class="container">hide mining areas
                <input type="checkbox" v-model="displayOption.hideMiningAreas">
                <span class="checkmark"></span>
            </label>
            <label class="container">hide urban areas
                <input type="checkbox" v-model="displayOption.hideUrbanAreas">
                <span class="checkmark"></span>
            </label>
            <label class="container">show terrain information
                <input type="checkbox" v-model="showTerrainInfo">
                <span class="checkmark"></span>
            </label>
            </div>
            <div id="terrain-info-display" v-show="showTerrainInfo">
                <table>
                    <tr>
                        <th>biome name</th>
                        <th>{{terrainInfo.biomeName}}</th>
                    </tr>
                    <tr>
                        <th>latitude</th>
                        <th>{{terrainInfo.latitude.toFixed(1)}}</th>
                    </tr>
                    <tr>
                        <th>humidity</th>
                        <th>{{terrainInfo.humidity.toFixed(1)}}</th>
                    </tr>
                    <tr>
                        <th>temperature</th>
                        <th>{{terrainInfo.temperature.toFixed(1)}}</th>
                    </tr>
                    <tr>
                        <th>iron</th>
                        <th>{{terrainInfo.iron.toFixed(1)}}</th>
                    </tr>
                    <tr>
                        <th>wood</th>
                        <th>{{terrainInfo.wood.toFixed(1)}}</th>
                    </tr>
                    <tr>
                        <th>food</th>
                        <th>{{terrainInfo.food.toFixed(1)}}</th>
                    </tr>
                    <tr>
                        <th>radioactivity</th>
                        <th>{{terrainInfo.radioactivity.toFixed(1)}}</th>
                    </tr>
                    <tr>
                        <th>magic energy</th>
                        <th>{{terrainInfo.magicEnergy.toFixed(1)}}</th>
                    </tr>
                    <tr>
                        <th>photo energy</th>
                        <th>{{terrainInfo.photoEnergy.toFixed(1)}}</th>
                    </tr>
                </table>
            </div>
        </main>


        <canvas></canvas>
    </body>
    <script>
        requirejs.config({
            baseUrl: './',
            paths: {
                tslib: 'node_modules/tslib/tslib'
            }
        });

        requirejs(["src/main"]);


    </script>
</html>