html, body, canvas {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    background-color: lightsalmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ui {
    position: absolute;
    border: 2px solid white;
    color: white;
}
#ui > section {
    display: inline-block;
}
.ui-item-info div {
    display: inline-block;
}
.ui-item-icon {
    width: 1em;
    height: 1em;
    background-size: cover;
}
.ui-item-name {
    width: 6em;
}
.ui-item-quantity {
    text-align: right;
}
section#player-info {
    display: block;
    border-bottom: 2px solid white;
}
:root {
    --player-name-size: 3em;
}
.player-name {
    display: inline-block;
    font-size: var(--player-name-size);
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-transform: uppercase;
}
.player-flag {
    display: inline-block;
    width: calc(var(--player-name-size) * 16 / 9);
    height: calc(var(--player-name-size) * 1);
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.display-options-wrapper {
    display: flex;
    flex-direction: column;
    border-top: 2px solid white;
}

#terrain-info-display{
    position: fixed;
}

.terrain-info-display-hide {
    display: none;
}